*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: lexend;
    src: url('../../../public/assets/fonts/Lexend-VariableFont_wght.ttf');
}
@font-face {
    font-family: arch;
    src: url('../../../public/assets/fonts/Archivo-Bold.ttf');
}

.destaque-Trad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    background-repeat: no-repeat;
    background-size: auto;


    background-color: white;
    border: 2px #74815C solid;
    width: 100%;
    max-width: 22vw;
    height: 55vh;
    border-radius: 20px;
    margin-top: 10vh;

    .imagem{
        img{
            width: 100%;
            max-width: 15vw;
            position:absolute;
            margin-left: 12vw;
            margin-top: -15vh;
            z-index: 10;
        }
    }

    

    .informacoes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 1vw;
        border-radius: 20px;
        margin-top: auto;


        gap: 70px;

        .descricao{
            display: flex;
            flex-direction: column;
            text-wrap: wrap;
            margin-left: 20px;
            gap: 5px;
        }

        .preco{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            width: 100%;
            
        }

        h2{
            font-family: lexend;
            font-size: clamp(0.5rem, 1.8vw, 3rem);
            color: #74815C;

            span{
                color: #939393;
            }
        }
        p{
            font-family: lexend;
            font-size: clamp(0.5rem, 2vw, 3rem);
        }

        button{
            width: 80px;
            height: 45px;
            border: none;
            border-radius: 50px;
            font-family: arch;
            color: white;
            background-color:#74815C ;

            cursor: pointer;
        }
    }
}